.adminImg {
    width: 360px;
    height: 250px;
}

.supImg {
    background-color: rgba(161, 160, 160, 0.418);
    width: 360px;
    margin-bottom: 20px;
}

i {
    color: rgb(211, 8, 8);
}

i:hover {
    cursor: pointer;
}