{% extends 'baseAdmin.html.twig' %}
{% block title %}Membres{% endblock %}
{% block monTitre %}Créé un nouveaux membres{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary mt-2" value="Valider">
        {{ form_end(form) }}
    </div>
{% endblock %}