<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Prenom:</td>
            <td>{{app.user.firstname}}</td>
        </tr>
        <tr>
            <td>nom:</td>
            <td>{{app.user.lastname}}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{app.user.email}}</td>
        </tr>
        <tr>
            <td>Titre:</td>
            <td>{{annonce.title}}</td>
        </tr>
    </table>
</html>