{% extends "base.html.twig" %}
{% block title %}
	Découvrir le vol
{% endblock %}
{% block body %}
	<div class="wrapper container">
		<div class="row">
			<div class="col-lg-9">
				<h1 class="text-center py-5">Découvrir le vol</h1>
				<div class="row p-3 mt-2">
					<div class="col-lg-4">
						<img src="/images/img1.jpg" alt="image-vol" class="img-fluid mt-2">
					</div>
					<div class="col-lg-8">
						<h2>Le vol d'initiation Avion</h2>
						<p>Le vol d'initiation vous permet de découvrir le vol en famille ou entre amis, ou de se faire plaisir simplement. Planifiez le circuit que vous souhaitez effectuer avec nos pilotes qualifiés et c'est parti pour la balade ! Notre région vous offre des paysages merveilleux, entre Sologne, Touraine et Berry. Si vous souhaitez offrir un vol, nous disposons de bons cadeaux à retirer à l'aéroclub.
						<br>
						Le vol d'initiation en avion est valable pour 3 personnes maximum. Le vol vous a plu ? Consultez nos formations !
						br
						Pour connaitre nos tarifs, cliquez ici : Tarifs avion
						</p>
					</div>
				</div>
				<hr class="hrVol my-5">
				<div class="row p-3 mt-2">
					<div class="col-lg-4">
						<img src="/images/viplaneur.jpg" alt="image-vol" class="img-fluid mt-2">
					</div>
					<div class="col-lg-8">
						<h2>Le vol d'initiation Planeur</h2>
						<p>Grâce au treuil, décollez en moins de 30 secondes et atteignez une altitude de 450m afin de
							rejoindre les
							courants ascendants. A vous la liberté et la découverte de la puissance des élèments naturels
							pendant une durée
							20 min à 40 min avec un pilote qualifié.
							<br>
							Le vol d'initiation en planeur est valable pour une personne, assurance comprise. Le vol vous a
							plu ? Consultez
							nos formations !
							<br>
							Pour connaitre nos tarifs, cliquez ici : Tarifs planeur
						</p>
					</div>
				</div>
				<hr class="hrVol my-5">
				<div class="row p-3 mt-2">
					<div class="col-lg-4">
						<img src="/images/viulm.jpg" alt="image-vol" class="img-fluid mt-2">
					</div>
					<div class="col-lg-8">
						<h2>Le vol d'initiation ULM</h2>
						<p>Découvrez l'aviation légère et partez en balade à bord de notre ULM J300 ! Comme l'avion, l'ULM vous permettra de visiter la région ou de survoler votre maison. En ULM, les vols sont plus agréables le matin et le soir.
						<br>
						Le vol d'initiation en ULM est valable pour 1 personne. Le vol vous a plu ? Consultez nos formations !
						<br>
						Pour connaitre nos tarifs, cliquez ici : Tarifs ulm
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				{% include "partials/sidebar.html.twig" %}
			</div>
		</div>
	</div>
{% endblock %}




