{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}


{% block body %}
<div class="wrapper container text-center" id="log">
<h1 class="text-uppercase py-5">Mot de passe oublié</h1>
    <div class="justify-content-center py-5 m-auto" id="log2">
        {{ form(emailForm) }}
    </div>
</div>
{% endblock %}
