{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}


{% block body %}
<div class="wrapper container text-center" id="log">
<h1 class="text-uppercase py-5">Créé un nouveau mot de passe</h1>
    {# {% if erreur %}
        <div class="alert alert-danger">
            <p>Une erreur est survenue, le nom d'utilisateur ou le mot de passe est incorrect</p>
        </div>
    {% endif %} #}
    <div class="justify-content-center py-5 m-auto" id="log2">
        <form method="post">
            <div class="form-group">
                <label for="pass">Nouveaux mot de passe</label>
                <input type="password" name="password" id="pass" class="form-control">
                <input type="hidden" name="token" value="{{token}}">
            </div>
            <button class="btn btn-primary">Valider</button>
        </form>
    </div>
</div>
{% endblock %}
